body{
      margin: 0;
      padding:0;
   /* background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('P5.jpg');*/
     background-color:rgb(59, 131, 182);

     }
.elem  {
       
       top: 0;
       background-color:black; 
       position:absolute;
       opacity: 1; 
       box-shadow: 3px 3px 30px skyblue;
       width: 100%;
    
      }
.elem ul{
       margin:3px 5px;
       padding: 5px 5px;
       
       }
.elem ul li{
       margin:2px 5px;
       padding:1px 2px;
       display: inline-block;
           }
.elem ul li a{
       padding: 2px 5px;
       text-decoration: none;
       display: inline-block;
       color: white;
       opacity: 1;
              font-size: 20px;

       font-family:  century Verdana, Geneva, Tahoma, sans-serif ;
       font-weight: bold;
            }
.elem ul li a.active{
       color:black;
       background-color: skyblue;
       border: 1px solid black;
       box-shadow: 1px 1px 1px 2px whitesmoke;
       transition: 0.2s ease;
       border-radius:3px;
                     }
.elem ul li a:hover:not(.active){
       color:black;
       background-color: skyblue;
       border: 2px solid black;
       box-shadow: 1px 1px  1px 2px white;
       transition: 0.2s ease;
       border-radius:3px;
                                }

.tages{
       margin-top:100px;
       width: 50%;
}
/*.tages ol li {
       font-size: 25px;
       margin: 15px;
        padding: 5px;
       background-color: white;
       font-weight: bold;
       color:black;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       border: 1px solid black;
       box-shadow:2px 2px 2px blue;
}*/


.tages table{
       border: 2px solid skyblue ;
       background-color: aliceblue;
       width: 100%;
       height: 500px;
       padding: 15px;
       text-align: center;
}
.tages table tr td {
       border: 1px solid blue;
}
.tages table tr td a{
       text-decoration: none;
       color:green;

}
